/* reset param Google */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Poppins, sans-serif;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
}
h1 {font-family: Black Ops One, sans-serif;
    font-size: 2em;}
h2, h3, h4, h5, h6{ font-family: Russo One, sans-serif;}
h2 { 
    color: #f4ca52;
    text-align: center;
}

main h2 {
    font-size: 2em;
}

::-webkit-scrollbar {
    display: none;
}

/* BARRE DE NAVIGATION */

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 9%;
    background-color: transparent;
    transition: all 1.5s ease-in-out;
}
.header-profil{
    position: relative;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 9%;
    background-color: black;
    animation: loadpage 2s;
}
@keyframes loadpage{
    from{opacity: 0; transform: translateY(-100%);}
    to{opacity: 1;transform: translateY(0%);}
}

header.scroll{
    background-color: black;
}
.menu{
    display: flex;
    align-items: center;
}
.menu a{
    margin: 40px;
    font-size: 16px;
    color: #f4ca52;
    border-bottom: 3px solid transparent;
    transition: all 0.5s ease;
}

.menu img{
    width: 25px;
    border: 2px solid transparent;
}
.logo img{
    width: 80px;
    margin: 0;
}
.menu .liens:hover{
    border-bottom: 3px solid white;
}
.nosagents{
    font-weight: 700;
    padding: 10px 0px;
    border-radius: 50px;
    background-color: black;
    border: 2px solid white;
}
.nosagentsindex{
    cursor: pointer;
    font-weight: 700;
    padding: 10px 0px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid white;
}
.nosagents:hover, 
.nosagentsindex:hover{
    border: #f4ca52 solid 2px;
}

/* Titre de la page */
.titre{
    display: flex;
    justify-content: center;
    margin: 100px 40px 0px 40px;
    letter-spacing: 4px;
    font-size: 3rem;
    border-top:  4px black solid;
    border-bottom: 4px black solid;
    color: black;
    animation: loadtitle 2s;
}
@keyframes loadtitle {
    from{letter-spacing: 100px;}
    to{letter-spacing: 4px;}
}

/* Section contenant la carte et les soft-skills */
.sectiontop{
    display: flex;
    justify-content: space-around;
    margin: 1rem 10rem;
}


/* Block de la carte */
.carteidd{
    width: 550px;
    margin: 40PX;
    background-color: black;
    border-radius: 20px;
    animation: loadleft 2s;
}
@keyframes loadleft{
    from{opacity: 0; transform: translate(-100%);}
    to{opacity: 1;transform: translate(0%);}
}


/* Block contenant l'image et le bouton */
.imgbtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* Mise en page de la photo */
.photo img{
    width: 280px;
    height: 280px;
    margin: 20px;
    border: black 1px solid;
    border-radius: 10%;
}


/* BOUTON : "PROPOSER UNE MISSION" */

.callToAction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 4rem;
}

.callToAction2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}


.btnmission{
    margin : 1rem auto;
    cursor: pointer;
    position: relative;
    height: 55px;
    width: 250px;
    border-radius: 10px;
    background-color: #00C2E1;
}

.btnmission:hover{
    border: 2px solid white;
    background-color: #19daf8;
}

.btnmission a {
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

.callToAction img {
    width: 30%;
}

.callToAction2 img {
    width: 30%;
}

/* Identité (Nom, prénom, liens) */

.identité{
    margin: 1rem 6rem;
}

.liensprofil{
    display: flex;
    justify-content: space-around;
    color: white;
    margin: 1.5rem 6rem;
}

.liensprofil img{
    color: #fff;
    width: 60px;
}

.nom {
    font-size: 3rem;
    text-transform: uppercase;
    background-color: #f4ca52;
    color: black;
}

.prenom {
    font-size: 3rem;
}

.identité h3 {
    font-weight: normal;
    color: white;
}

/* Les sous-titres expériences, compétences, et centres d'intérêts*/
#sous1, #sous2, #sous3, #sous4, #sous5{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: normal;
}
    
/* Liste des Soft-skills */
.skills{
    margin: 40px;
    color: white;
    background-color: black;
    padding: 40px 60px;
    text-align: left;
    border-radius: 20px;
    animation: loadright 2s;
}
@keyframes loadright{
    from{opacity: 0; transform: translate(100%);}
    to{opacity: 1;transform: translate(0%);}
}

.skills h3 {
    font-weight: normal;
}


/* Les section présentations, expériences, compétences, et centres d'intérêts */
.presprofil, .expprofil, .compprofil, .intprofil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 10rem;
}

/* Block texte pour les expériences, compétences, et centres d'intérêts */
.pres, .exp, .comp, .int{
    background-color: black;
    color: white;
    padding: 40px 120px;
    width: 90%;
    font-size: 1.2em;
    text-align: left;
    border-radius: 20px;
}

/* Section avec CTA en fin de page */

.callToActionEnd {
    width: 35vw;
    margin: 2rem auto;
}

/* Bouton bas de page retour listes agents */

.retourListeEnd{
    display: flex;
    justify-content: flex-end;
    margin: 1rem 10rem;
}

.nosagents2{
    margin: 1rem 2rem;
    padding: 1rem 0.5rem;
    border-radius: 50px;
    border: 2px solid transparent;
}

.nosagents2 a{
    font-weight: 700;
    color: black;
}

.nosagents2:hover{
    border: #f4ca52 solid 2px;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!! */

/* PARTIE PAGE ACCUEIL */

.contenuSousVideo {
    background-color: white;
}


/* HEADER VIDEO ET NAV  */
.headerTransparent {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(rgba(194, 194, 192, 0), rgb(71, 71, 72, 1));
    padding-bottom: 70px;
}

.containerTitre-chevron {
    height: 50%;
    display: flex;
    align-items: center;
    align-content: flex-end;
    flex-direction: column;
    justify-content: space-between;
}

.js-scrollTo img{
    width: 30px;
}
.video {
    height: 100vh;
    width: 100%;
    background-color: rgb(75, 75, 69);
    position:fixed;
    z-index:-1;
    /* transition: opacity 0.1s; */ 
}

.videoMobile {
    display:none;
}


/* STYLE DU BOUTON */
.btnindex2{
    margin-top: 100px;
    cursor: pointer;
    position: relative;
    height: 70px;
    width: 250px;
    border-radius: 50px;
    background-color: white;
    border: 3px solid #f4ca52;
    font-size: 1.1em;
    font-weight: 700;
    color: black;
    z-index: 100;
    left: 42vw;
    overflow: hidden;
    margin-bottom: 100px;
}
.btnindex2::before{
    content: "";
    position: absolute;
    height: 70px;
    width: 250px;
    background-color: #f4ca52;
    border-radius: 50px;
    top: -2px;
    left: -2px;
    z-index: -1;
    transform: translate(-100%);
    transition: 0.4s;
}
.btnindex2:hover{
    color: white;
    transition: 0.4s;
}
.btnindex2:hover::before{
    transform: translate(0%);
}
.btnindex2 i{
    position: absolute;
    display: none;
    font-size: 1.4em;
}
.btnindex2:hover i{
    display: inline;
    transition: 0.2s;
}

/* TITRE */
.testTitre h1{
    font-size: 4em;
    color:#f4ca52;
    
}

/* PARTIE QUI NOUS SOMMES NOUS ET POURQUOI CHOISIR UN STAGIAIRE HB */

/* Scroll_to_top: icone retour en haut */
#scroll_to_top {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 50px;
    right: 50px;
    display: none;
  }

  #scroll_to_top img {
    width: 35px;
  }

  #scroll_to_top:hover {
    cursor: pointer;
  }



#quiSommesNous {
    width:50%;
    height: 100%;
    padding-top: 40px;
}

.cercleVertueux {
    width:50%;
    height:100%;
    display: flex;
    justify-content: center;
}

#quiSommesNous h2 {
    color: #000503; 
    padding: 40px 0 90 0;
}

#quiSommesNous p {
    color: #C8D6CF;
    padding-left: 0 20% 0 20%;
    text-align: justify;
}

#sectionQui{
    /* padding-top: 300px;   */
    margin-top: 150px ;
    padding-top: 100px; 
}

#sectionQui h2{
    padding: 30px 0 30px 0;
    text-shadow: 0.5 #000503;
}
.liseretNoir h2{
    background-color: black;
}

.titreQui{
    margin-top: 80px;
}

#sectionQui p{
    padding-top: 50px;
    width: 50%;
    margin: auto;
    text-align: justify;
}

/* PARTIE MODE EMPLOI */

.containerModeEmploi {
    display: flex;
    justify-content: space-evenly;
}

.modeEmploi {
    width: 250px;
    height:250px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

#sectionModeEmploi h2, #sectionModeEmploi h3{
    text-align: center;
    padding-top: 20px;
}

#sectionModeEmploi{
    padding-top: 100px;
    height: max-content;
}

.pictoModeEmploi img {
    width: 200px;
    padding-bottom: 30px;
}

.texteModeEmploi {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.btnModeEmploi {
    padding:15px;
    border-radius: 30px;
    display: block;
    margin: auto;
    border-style: none;
    background-color: burlywood;
}

/* PARTIE CARTES AVANTAGES */

#avantages {
    margin-top: 100px;
    background-color: black;
    width: 100%;
    height: max-content;
}

#avantages h3{
    color: white;
    text-align: center;
    font-size: 1.5em;
    word-spacing: 70px;
    padding-top: 30px;
}

.cartesAvantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: min-content;
    padding-top: 100px;
}

/* Ici les images sont placées en "background" pour pouvoir les modifier en :hover */
.carte1, .carte2, .carte3, .carte4{
    width: 350px;
    height:400px;
    background-image: url(img/cartesAvantages/1.png);
    background-size: cover;
    background-position: center;
    cursor:pointer;
    transition: transform 1s;
    display: flex;
    justify-content: center;
}
.carte1:hover {
    background-image: url(img/cartesAvantages/5reverse.png);
    transform: rotateY(180deg);
}

.carte2{
    background-image: url(img/cartesAvantages/2.png);
}
.carte2:hover {
    background-image: url(img/cartesAvantages/6reverse.png);
    transform: rotateY(180deg);
}

.carte3{
    background-image: url(img/cartesAvantages/3.png);
}
.carte3:hover {
    background-image: url(img/cartesAvantages/7reverse.png);
    transform: rotateY(180deg);
}

.carte4{
    background-image: url(img/cartesAvantages/4.png);
}
.carte4:hover {
    background-image: url(img/cartesAvantages/8reverse.png);
    transform: rotateY(180deg);
}


/* PARTIE INFOGRAPHIE */

#quelquesChiffres {
    margin-top: 100px;
}

.infographie {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

.infoBox {
    text-align: center;
}

.infoBox img {
    width:60px;
}

.chiffre {
    font-size: 4.3em;
    font-weight: bold;
    color: #f4ca52;
    font-family: Russo One, sans-serif;
}

/* PARTIE LOGOS HARDSKILLS */
.slider{
    background-color: black;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 40px 0;
    overflow: hidden;
    white-space: nowrap;
    height: 100%;
}
.slide-track {
    display: inline-block;
    animation: carrousel 30s infinite linear ;
}
.slide {
    margin: 0 60px;
    height: 60px;
}
@keyframes carrousel{
    from {transform: translateX(0%);}
    to {transform: translateX(-100%);}
}

/* MISSIONS ACCOMPLIES (DEMOS TECH): */

.demo {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.demoTech {
    width : 200px;
    height: 300px;
}

.demoTech img{
    width: 200px;
    height: 200px;
}

footer {
    height:200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
footer p{
    font-size: 0.8em;
}

.logoFooter img {
    width: 100px;
}
.demoTechnique h2{
    padding-top: 30px;
    padding-bottom: 90px;
}


/* PAGE STAGIAIRES */

#stagiaire {
    background-color: whitesmoke;
}

.sectionProfils {
    width: 100%;
    padding: 0;
    margin-top: 15vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titreSectionProfils h1{
    text-align: center;
    margin-bottom: 80px;
    font-size: 3em;
    letter-spacing: 10px;
    animation-name: badaboom;
    animation-duration: 2s;
}
@keyframes badaboom{
    0%{font-size: 6em; letter-spacing: 80px; color: #f4ca52;}
    50%{font-size: 6em; letter-spacing: 0px; color: #f4ca52;}
    100%{font-size: 3   em; letter-spacing: 10px; color: black;}
}

.containerProfils {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.dev {
    color: #fff;
}


.containerFolder {
    background-size: 300px;
    width: 300px;
    height: 300px;
    cursor: pointer;

}

.lienProfil {
    display: block;
    width: 300px;
    height: 300px;

}

.containerFolder {
    background-size: 300px;
    width: 300px;
    height: 300px;
    cursor: pointer;

}

.lienProfil {
    display: block;
    width: 300px;
    height: 300px;

}


/* Responsive (Smartphone) */

@media all and (max-width: 800px) {
    
    #quiSommesNous {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .modeEmploi {
        width: 100%;
        margin-top: 50px;
        padding-top: 0px;
        padding-bottom: 100px;
    }

    .infographie {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .infoBox {
        max-width: 300px;
    }

    .btnindex2 a {
        justify-content: center;
    }
    .btnindex2{
        align-items: center;
        left: 70px;
    }
    .chiffre{
        font-size: 50px;
    }

    .quelquesChiffres {
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }


    .testTitre h1{
        text-align: center;
    }

    .footer {
        padding: 20px;
    }

    .containerModeEmploi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1px;
        padding-bottom: 100px;
    }
    .cartesAvantages{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
   .carte2{
        left: 100px;
    }
    #avantages .cta {
        display: flex;
        align-content: center;
    }
    #avantages h3{
        font-size: 30px;
        flex-direction: column;
        word-spacing: 0px;
        text-align: center;
        justify-content:safe;
    }
    
        
        .videoWeb {
            display: none;
        }

        .videoMobile {
            display: block;
            width: 100vw;
        }

        #sectionQui p {
            width: 100%;
    
        }

    .logo img{
       width: 80px;
         
    }
    .menu{
        display: none;
    }
    .pictoModeEmploi{
        display: flex;
        flex-direction: column;
    }

    /*Profil perso*/
    .titre{
        text-align: center;
        margin: 50px 10px 10px 10px;
    }

    .sectiontop {
        flex-direction: column;
        justify-content: flex-start;
        margin: 60px 0px 10px 0px;
        width: 100%;
      }
    
      .carteidd {
        display: flex;
        flex-direction: column;
        width: 375px;
        margin: 0px 0px 15px 8px;
      }
        .imgbtn{
            flex-direction: column;
            justify-content: center;
            margin: 2px;
            display: flex;
            align-items: center;
      }
      .photo {
        width: 100%;
      }
      .btnmission {
        margin: 20px 0px 0px 20px;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 180px;
        height: 40px;  
      }

      .identité{
        margin: 30px 30px 2px 20px;
      }
  .liensprofil {
    margin: 30px 30px 2px 20px;
  }

  .identité h3 {
    font-size: 1.5rem;
  }

  .liensprofil img {
    width: 30px;
    margin: 0 10px;
  }

  .soft{
    flex-direction: column;
    max-width: 99%;
    display: flex;
  }

  .skills {
    max-width: 100%;
        margin: 20px 8px 20px 8px;
  }

  .skills-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .h3-skills {
    font-size: 1.5rem;
  }

  .skills p {
    font-size: 1rem;
    line-height: 1.5;
    align-self: start;
    max-width: 100%;
    display: contents;
  }
  
  .header-profil{
    margin: auto;
  }
  .video{
    margin: auto;
    background-color: rgb(auto, auto, absolute);
    padding: 0px;;
  }
  #sectionQui{
    margin-top:0px;
    padding-top: 0px;
  }


    .testTitre h1{
        text-align: center;
    }

    .footer {
        padding: 20px;
    }

    .containerModeEmploi {
        display: flex;
        flex-direction: column;
        padding-bottom: 200px;
    }

    .videoWeb {
        display: none;
    }

    .videoMobile {
        display: block;
        width: 100vh;
    }

    #sectionQui p{
        width: 80%;
    }

    #avantages h3{
        text-align: center;
        word-spacing: 30px;
    }

    #avantage a{
        text-align: center;
    }
}