body{display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;}


.inscription{display: flex;
    flex-direction: column;
    font-size:20px;
    background: black;
    width: 25%;
    color: #f4ca52;
    padding: 5px;
    margin: 10px;
    text-align:center;
    border-radius: 30px;
    }
.name {display: flex;
justify-content: space-around;}

button {
    align-items: center;
    background-image: linear-gradient(144deg,rgb(188, 255, 64), #f4ca52 50%,#edcb6d);
    border: 0;
    border-radius: 10px;
    box-shadow: black(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 70%;
    min-width: 30px;
    padding: 3px;
    margin-left: 15%;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 50px;
    border-radius: 6px;
    width: 80%;
    height: 80%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }

h3 {font-size: xx-large;}
label{font-size: 20px;
}

input {border-radius: 10px;
    height: 30px;
text-align: center;}

@media screen  and (min-width: 370px) and (max-width: 770px){
    .inscription {flex-direction: column;
    width: 100%;}}