body{display: flex;
    align-items: center;
    justify-content: center;
    height: 120vh;}
/* css login */
.identifiant{display: flex;
    flex-direction: column ;
font-size:20px;
background: black;
border-radius: 30px;
width: 20%;
color: #f4ca52;
margin: 20px;
text-align:center ;
}

a{font-size: 15px;color: #f4ca52;}


label{font-size: 25px;
}

input {border-radius: 20px;
    height: 30px;
    ;
text-align: center;}

h3{font-size: xx-large;}

button {display: flex;
    align-items: center;
    background-image: linear-gradient(144deg,rgb(188, 255, 64), #f4ca52 50%,#edcb6d);
    border: 0;
    border-radius: 10px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 200px;
    min-width:  80px;
    margin-left: 45px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 50px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }

   @media screen and (min-width: 200px) and (max-width: 700px){
    .identifiant {flex-direction: column;
    width: 60%;}}

p{font-size: 15px;}

.souvenir {
display: flex;
justify-content: center;}